*.bak
*.cdb
*.hdb
*.mif
*.rpt
*.map
*.hbdb
*.hif
*.html
*hier_info
*.json
*.xml
*.rdb
*.done
*.summary
*.ammdb
*.bpm
*.logdb
*.smsg
*.sig
*.tmw_info
*.kpt
*.qmsg
*.hb_info
*.txt
*.db_info
*.flock
*.sci
*.ddb
*.dpi
README
